# Copy this file to .env (e.g. cp .env-example .env) and make your changes there!

# Comma separated list of usernames
# This will  be the login name for the server
USERLIST='bob, alice'

# mails with credentials will be sent to user@MAILDOMAIN
MAILDOMAIN='myschool.fi'